<div class="row">
  <div class="col">
<div id='root'> </div>  
  </div>
</div>
~                                                                                                                                             
~        
